# Required files for ZMK to recognize the shield

if KBNAME_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "kbName"
    
#currently central is the left side
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if KBNAME_LEFT || KBNAME_RIGHT

config ZMK_SPLIT
    default y
    
endif
	
